# ==========================================
# Configuración del Servidor (Server Config)
# ==========================================
# Puerto en el que se ejecutará la API de Express
PORT=

# URL del Frontend para habilitar los permisos de CORS
FRONTEND_URL=

# ==========================================
# Configuración de Seguridad (Security Config)
# ==========================================
# Clave secreta para firmar los tokens JWT
JWT_SECRET=

# ==========================================
# Configuración de Base de Datos (Database Config)
# ==========================================
# Credenciales para la conexión a PostgreSQL
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=