services:
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
    volumes:
      - ./dist:/usr/share/nginx/html:ro
    depends_on:
      - backend
    restart: always

  backend:
    build:
      context: ./backend-src
      dockerfile: Dockerfile
    image: app-backend:prod
    env_file:
      - .env
    depends_on:
      - postgres
    restart: always

  postgres:
    image: postgres:16
    env_file:
      - .env
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    restart: always
