# ==========================================
# Configuración del Frontend (React/Vite)
# ==========================================
# URL base donde se encuentra corriendo el Backend (API)
VITE_API_URL=http://localhost:3000
